body {
  font-family: Arial;
  text-align: center;
  background-color: #14213d;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px auto;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.alert-info{
  color: #14213d;
}

#textInput{
  margin-right: 0.5rem;
}

#button-addon2{
  color: white;
    background-color: #fca311;
    padding-left: 1rem;
}

#button-addon2:hover{
  background-color: #e5e5e5;
  color: black;
}

h1{
  color: #fca311;
}
